.allProductPage_margin {
  margin-left: 9rem;
  padding-top: 2rem;
}

.despcription {
  width: 50%;
}

.heading {
  font-size: 1.5em;
  font-weight: bold;
}

.sub_heading {
  font-size: 1.6em;
  font-weight: bold;
  padding-top: 1rem;
}

.para_text {
  font-size: 0.9em;
  color: rgb(90, 90, 90);
  line-height: 1.5;
}

/* Products Components styles */

.second {
  /* padding-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 2rem;
  border-bottom: solid 1px #dfdfdf; */
  display: flex;
  justify-content: space-between;
  padding-top: 4.5rem;
  margin-left: -2rem;
}
.third {
  display: flex;
}

select {
  padding: 0.8rem 0.8rem;
  border-radius: 50px;
  color: black;
  font-weight: bolder;
  font-size: 0.75rem;
  -webkit-appearance: none;
  background-color: #f5f5f5;
  margin-left: 2rem;
  border: none;
  margin-bottom: 0.5rem;
}

.icon {
  /* position: absolute; */
  margin-left: -35px;
  margin-top: 4px;
  /* padding-left: 1.5rem; */
}

.button {
  border: none;
  background-color: transparent;
  font-weight: bold;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
}
button:focus {
  border: 1px solid black;
}

@media only screen and (max-width: 1143px) {
  .allProductPage_margin {
    margin-left: 2rem;
  }
  .despcription {
    width: 90%;
  }
}

@media only screen and (max-width: 850px) {
  .heading {
    font-size: 1rem;
  }
  .sub_heading {
    font-size: 1.3rem;
  }
  .second {
    display: block;
  }
  .third {
    flex-wrap: wrap;
  }
}
