.grid {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  gap: 3rem;
}

.first_container {
  margin-left: 1rem;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  padding-top: 1.5rem;
  background-color: white;
  z-index: 2;
}
.flex_left {
  gap: 5rem;
  display: flex;
  margin-left: 3rem;
  align-items: center;
}

.flex_right {
  gap: 1rem;
  display: flex;
  /* margin-left: 3rem; */
  position: relative;
  right: 5;
  align-items: center;
}
.hamburger2 {
  display: none;
}
.hamburger1 {
  cursor: pointer;
}

.search_icon {
  position: relative;
  margin-right: -82px;
  margin-left: 0px;
  margin-bottom: -8px;
}

.camera_icon {
  position: relative;
  /* margin: -2.01rem 0 0 28rem; */
  margin-bottom: -8px;
  margin-left: -42px;
}

.search_bar {
  width: 95%;
  border-radius: 20rem;
  border: none;
  height: 110%;
  background-color: #f5f5f5;
  padding-left: 45px;
  margin-left: 2.8rem;
}

/* Whole page left margin */
/* margin-left: 8rem; */
.flex_nav_bottom {
  display: flex;
  margin-left: 8rem;
  border-bottom: solid 1px #dfdfdf;
  width: 85%;
  padding-top: 0.2rem;
}

.para {
  margin-left: 1.5rem;
  font-weight: bold;
  font-size: 0.95rem;
  cursor: pointer;
  padding-top: 0.7rem;
}
.para:hover {
  border-bottom: solid 1px black;
}

@media only screen and (max-width: 1143px) {
  .grid {
    gap: 1rem;
  }
  .flex_left {
    gap: 1rem;
  }
  .hamburger1 {
    display: none;
  }
  .truck {
    display: none;
  }
  .search_icon {
    margin-right: -83px;
    margin-left: 0px;
    margin-bottom: -8px;
  }
  .search_bar {
    width: 90%;
  }
  .hamburger2 {
    display: block;
    cursor: pointer;
  }
}

@media only screen and (max-width: 850px) {
  .grid {
    grid-template-columns: 75% 25%;
    gap: 0;
  }
  .no_input {
    display: none;
  }
  .flex_nav_bottom {
    display: none;
  }
}
