.grid_container {
  display: grid;
  /* grid-template-columns: repeat(4, minmax(100px, 1fr)); */
  grid-template-columns: repeat(auto-fill, 25rem);
  /* grid-auto-rows: minmax(100px, auto); */
  /* grid-auto-flow: column; */
  gap: 5;
}

.button_compare {
  background-color: black;
  color: white;
  border-radius: 60px;
  padding: 0.5rem 0.8rem;
  font-size: 1.1rem;
  margin-right: 2rem;
  position: absolute;
  cursor: pointer;
  right: 0;
  border: none;
}
.button_compare_disable {
  background-color: #dfdfdf;
  color: white;
  border-radius: 60px;
  padding: 0.5rem 0.8rem;
  font-size: 1.1rem;
  position: absolute;
  margin-right: 2rem;
  right: 0;
  border: none;
}

.border {
  border-bottom: solid 1px #dfdfdf;
  padding-bottom: 4rem;
  padding-top: 1.5rem;
}

@media only screen and (max-width: 1340px) {
  .grid_container {
    grid-template-columns: repeat(auto-fill, 20rem);
    gap: 3rem;
  }
}

@media only screen and (max-width: 1260px) and (min-width: 960px) {
  .grid_container {
    grid-template-columns: repeat(auto-fill, 25rem);
    gap: 8rem;
  }
}

@media only screen and (max-width: 960px) and (min-width: 760px) {
  .grid_container {
    grid-template-columns: repeat(auto-fill, 15rem);
    gap: 10rem;
  }
}

@media only screen and (max-width: 820px) and (min-width: 780px) {
  .grid_container {
    grid-template-columns: repeat(auto-fill, 13rem);
    gap: 10rem;
  }
}

/* @media only screen and (max-width: 780px) and (min-width: 560px) {
  .grid_container {
    grid-template-columns: repeat(auto-fill, 10rem);
  }
} */
/* @media only screen and (max-width: 991px) {
  .grid_container {
    grid-template-columns: repeat(auto-fill, 18rem);
    gap: 15rem;
  }
}
@media only screen and (max-width: 897px) {
  .grid_container {
    grid-template-columns: repeat(auto-fill, 15rem);
  }
}
@media only screen and (max-width: 760px) {
  .grid_container {
    grid-template-columns: repeat(auto-fill, 20rem);
  }
}*/
@media only screen and (max-width: 786px) {
  .grid_container {
    grid-template-columns: repeat(1, 100%);
    margin: auto;
  }
}
